@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');

body,
html {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.card {
    border-radius:.50rem!important;
    padding-top: 30px;
}

.card-title {
    text-align: center;
}

.title {
    text-align: center;
    padding-top: 5%;
    font-family: 'Rock Salt', cursive;
}

.container {
    background-color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius:.50rem!important;
}

.container-pic {
    background-image: url("../images/flagnew.jpg");
    background-repeat: no-repeat;
    background-size: cover
}

button {
    text-align: center;
}

.background-pic {
    background-image: url('../images/stockholm1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}