{% extends 'base.html' %}
{% block content %}
<h3 class="title"><strong>ABOUT US</strong></h3>
<div class="container container-about-flag">

<h4><strong>Hello and welcome to our site. We all know that when you go to visit a new destination it can be daunting to find out what you can see
 and do, so I have created this website to help you the visitor in this wonderful city make sure you choose the right thing to do while here.
 On this website you will see reviews from all the main tourist attraction to the not so well known and all the reviews have been left by real people who have visited/took part and would like to 
 tell others of their experience. So please take a look around and see if there is anything that you would like to see or do and click on the link to the website(if applicable) or type the name in your 
 favourite search engine to find out more. Then come back here and leave a review so others can see what a great time or not you had.</strong></h4>
 
</div>


{% endblock %}