{% extends 'base.html' %}
{% block content %}

<h3 class="addplace-title"><strong>Add Place</strong></h3>
<div class="container">

<form class="validation" action="{{url_for('insert_place')}}" method="POST">
<div class="row">
<div class="col 8">
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text" for="inputGroupSelect01">Categories</label>
  </div>
  <select class="custom-select" id="category" name="category_name">
    <option value="" disabled selected>Choose Category</option>
    {% for cat in categories %}
    <option value="{{cat.category_name}}">{{cat.category_name}}</option>
    {% endfor %}
  </select>
</div>
</div>
</div>
<div class="row">
<div class="col 8">
  <div class="form-group">
    <label for="validationCustom1">Place Name:</label>
    <input type="text" class="validate" id="place_name" name="place_name" required>
  </div>
  </div>
  </div>
  <div class="row">
<div class="col 8">
  <div class="form-group">
    <label for="validationCustom2">Your Name:</label>
    <input type="text" class="validate" id="user_name" name="user_name" required>
  </div>
 </div>
  </div>
  <div class="row">
<div class="col 8">
  <div class="form-group">
    <label for="validationCustom2">Web Address:</label>
    <input type="url" class="validate" id="website" name="website">
  </div>
 </div>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Your Comments:</label>
    <textarea class="form-control" name="user_comments" id="user_comments" rows="3" required></textarea>
  </div>
 
  <button type="submit" class="btn btn-success" name="action">SUBMIT</button>
</form>
</div>

{% endblock %}