{% extends 'base.html' %}
{% block content %}
<div class="container">
<h3>Add Place</h3>


<form action="" method="POST">
<div class="row">
<div class="col 12">

<select id="category" name="category_name" class="custom-select">
  <option selected>Choose Category</option>
  {% for cat in categories %}
  <option value="{{cat.category_name}}">{{cat.category_name}}</option>
{% endfor %}
</select>
</div>
</div> 
<div class="row">
<div class="col 12">
  <div class="form-group">
    <label for="icon_prefix">Place Name:</label>
    <input type="text" class="validate" id="place_name" name="place_name">
  </div>
  </div>
  </div>
  <div class="row">
<div class="col 12">
  <div class="form-group">
    <label for="icon_prefix">Your Name:</label>
    <input type="text" class="validate" id="user_name" name="user_name">
  </div>
 </div>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Your Comments:</label>
    <textarea class="form-control" name="user_comments " id="user_comments" rows="3"></textarea>
  </div>
</form>
</div>
{% endblock %}