{% extends 'base.html' %}
{% block content %}
<h3 class="title"><strong>HISTORY</strong></h3>
<div class="container container-museum">
{% for place in places %}
<div class="jumbotron">
<div class="col 4">
  <h1 class="display-4">{{place.place_name}}</h1>
</div>
<hr class="my-4">
    <div class="col 4">
  <p class="user-name"><strong>User Name:</strong></p><p>{{place.user_name}}</p>
    </div>
  <div class="col 4">
  <p class="comments"><strong>User Comments:</strong></p> <p>{{place.user_comments}}</p>
  </div>
  <div class="col 4">
  <p class="website"><strong>Website if added:</strong> <a href="{{place.website}}">{{place.website}}</a></p>
  </div>
  <a class="btn btn-primary" href="{{url_for('edit_place', place_id=place._id)}}" role="button">Edit</a>
  <a class="btn btn-danger" href="{{url_for('delete_place', place_id=place._id)}}" role="button">Delete Place</a>
</div>
{% endfor %}
</div>

{% endblock %}