{% extends 'base.html' %}
{% block content %}
<h3 class="title"><strong>IMAGES</strong></h3>
<div class="container">
<!-- This is the stackend launch script -->
<script defer type="text/javascript" src="https://stackend.com/launch.js"></script>

<!--This is the actual slideshow-->
<div data-stackend-type="stackend-slideshow" data-stackend-indicators="true">
  
  <!-- This is the code bins slide1 and slide2 -->
  <div data-stackend-type="stackend-cms" data-stackend-id="71:21"></div>
  <div data-stackend-type="stackend-cms" data-stackend-id="71:22"></div> 

<!-- This closes the slideshow -->
</div>
</div>














{% endblock %}
